<ion-header>
  <ion-navbar color="dark">
    <ion-title>Tu Tarjeta</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-card *ngFor="let vuelo of tarjeta">
      <ion-item *ngFor="let dato of datos">
        <h2>Nombre: <strong>{{dato.nombre}}</strong></h2>
      </ion-item>

      <ion-item>
        <ion-icon name="plane" item-start large></ion-icon>
        <br>
        <h2>{{vuelo.aerolinea}}</h2>
        <!-- Add data-values for times -->
        <h3> {{vuelo.ida_inicio_hora}} - {{vuelo.ida_destino_hora}}</h3>
        <!-- Add data-values for date -->
        <p> {{vuelo.ida_fecha | date:'dd/MM/yy'}}</p>
        <!-- Add data-values for seat -->
        <p>Puerta de Embarque: 51</p>
        <p>Grupo de Embarque: 2</p>
        <p>Hora de Embarque: 30 Minutos Antes del Vuelo</p>
        <p> Asiento: 12A</p>
      </ion-item>

      <ion-item>
          <ion-title>{{vuelo.inicio}} hasta {{vuelo.destino}}</ion-title>
      </ion-item>

      <ion-item>
        <img src="../../assets/imgs/qr_code.png">
      </ion-item>
      <br><br>

      <ion-item>
        <ion-icon name="plane" item-start large></ion-icon>
        <br>
        <h2>{{vuelo.aerolinea}}</h2>
        <!-- Add data-values for times -->
        <h3> {{vuelo.vuelta_inicio_hora}} - {{vuelo.vuelta_destino_hora}}</h3>
        <!-- Add data-values for date -->
        <p> {{vuelo.vuelta_fecha | date:'dd/MM/yy'}}</p>
        <!-- Add data-values for seat -->
        <p>Puerta de Embarque: 32</p>
        <p>Grupo de Embarque: 3</p>
        <p>Hora de Embarque: 30 Minutos Antes del Vuelo</p>
        <p> Asiento: 14E</p>
      </ion-item>

      <ion-item>
        <ion-title>{{vuelo.destino}} hasta {{vuelo.inicio}}</ion-title>
      </ion-item>
      <ion-item>
        <img src="../../assets/imgs/qr_code.png">
      </ion-item>

  </ion-card>

</ion-content>
